/* Initialize
---------------------------------------------------------- */
html{font-size:62.5%;}
html,body {height: 100%;}
body,
h1, h2, h3, h4, h5, p,
ul, ol, li, dl, dt, dd,
table, tr, th, td,
input, textarea, select, button {
	margin: 0;
	padding: 0;
	line-height: 1.8;
	list-style: none inside;
	-webkit-text-size-adjust: 100%;
	font-size: 1.6rem;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: #333;
	font-family:"ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "Noto Sans Japanese", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}
img {vertical-align:  bottom;}
.inline {display: inline;}
.inline-block {display: inline-block;}
.block {display: block;}
.flex {display: flex;}





/* Font
---------------------------------------------------------- */
.f-08 {font-size: .8rem;}
.f-09 {font-size: .9rem;}
.f-10 {font-size: 1rem;}
.f-11 {font-size: 1.1rem;}
.f-12 {font-size: 1.2rem;}
.f-13 {font-size: 1.3rem;}
.f-14 {font-size: 1.4rem;}
.f-15 {font-size: 1.5rem;}
.f-16, h5 {font-size: 1.6rem;}
.f-17 {font-size: 1.7rem;}
.f-18, h4 {font-size: 1.8rem;}
.f-19 {font-size: 1.9rem;}
.f-20, h3 {font-size: 2rem;}
.f-22 {font-size: 2.2rem;}
.f-24 {font-size: 2.4rem;}
.f-26, h2 {font-size: 2.6rem;}
.f-28 {font-size: 2.8rem;}
.f-30 {font-size: 3rem;}
.f-32, h1 {font-size: 3.2rem;}
.f-34 {font-size: 3.4rem;}
.f-36 {font-size: 3.6rem;}
.f-38 {font-size: 3.8rem;}
.f-40 {font-size: 4rem;}
.f-42 {font-size: 4.2rem;}
.f-44 {font-size: 4.4rem;}
.f-46 {font-size: 4.6rem;}
.f-48 {font-size: 4.8rem;}
.f-50 {font-size: 5rem;}
.f-52 {font-size: 5.2rem;}
.f-54 {font-size: 5.4rem;}
.f-56 {font-size: 5.6rem;}
.f-58 {font-size: 5.8rem;}
.f-60 {font-size: 6rem;}
.f-62 {font-size: 6.2rem;}
.f-64 {font-size: 6.4rem;}
.f-66 {font-size: 6.6rem;}
.f-68 {font-size: 6.8rem;}
.f-70 {font-size: 7rem;}
.f-72 {font-size: 7.2rem;}
.f-74 {font-size: 7.4rem;}
.f-76 {font-size: 7.6rem;}
.f-78 {font-size: 7.8rem;}
.f-80 {font-size: 8rem;}
.f-82 {font-size: 8.2rem;}
.f-84 {font-size: 8.4rem;}
.f-86 {font-size: 8.6rem;}
.f-88 {font-size: 8.8rem;}
.f-90 {font-size: 9rem;}
.f-92 {font-size: 9.2rem;}
.f-94 {font-size: 9.4rem;}
.f-96 {font-size: 9.6rem;}
.f-98 {font-size: 9.8rem;}
.f-100 {font-size: 10rem;}

.ls-010 {letter-spacing: .1rem;}
.ls-020 {letter-spacing: .2rem;}
.ls-030 {letter-spacing: .3rem;}
.ls-040 {letter-spacing: .4rem;}
.ls-050 {letter-spacing: .5rem;}
.ls-060 {letter-spacing: .6rem;}
.ls-070 {letter-spacing: .7rem;}
.ls-080 {letter-spacing: .8rem;}
.ls-090 {letter-spacing: .9rem;}
.ls-100 {letter-spacing: 1rem;}
.ls--001 {letter-spacing: -0.01rem;}
.ls--002 {letter-spacing: -0.02rem;}
.ls--003 {letter-spacing: -0.03rem;}
.ls--004 {letter-spacing: -0.04rem;}
.ls--005 {letter-spacing: -0.05rem;}
.ls--006 {letter-spacing: -0.06rem;}
.ls--007 {letter-spacing: -0.07rem;}
.ls--008 {letter-spacing: -0.08rem;}
.ls--009 {letter-spacing: -0.09rem;}
.ls--010 {letter-spacing: -0.1rem;}
.ls--020 {letter-spacing: -0.2rem;}
.ls--030 {letter-spacing: -0.3rem;}
.ls--040 {letter-spacing: -0.4rem;}
.ls--050 {letter-spacing: -0.5rem;}
.ls--060 {letter-spacing: -0.6rem;}
.ls--070 {letter-spacing: -0.7rem;}
.ls--080 {letter-spacing: -0.8rem;}
.ls--090 {letter-spacing: -0.9rem;}
.ls--100 {letter-spacing: -1rem;}

.lh-05 {line-height: .5;}
.lh-06 {line-height: .6;}
.lh-07 {line-height: .7;}
.lh-08 {line-height: .8;}
.lh-09 {line-height: .9;}
.lh-10 {line-height: 1;}
.lh-11 {line-height: 1.1;}
.lh-12 {line-height: 1.2;}
.lh-13 {line-height: 1.3;}
.lh-14 {line-height: 1.4;}
.lh-15 {line-height: 1.5;}
.lh-16 {line-height: 1.6;}
.lh-17 {line-height: 1.7;}
.lh-18 {line-height: 1.8;}
.lh-19 {line-height: 1.9;}
.lh-20 {line-height: 2;}



/* Text
---------------------------------------------------------- */
button,
.btn, .pagination a {
	text-decoration: none;
}

.bold {font-weight: bold;}
.normal,
h1, h2, h3, h4, h5 {font-weight: normal;}

.in-center {text-align: center;}
.in-right {text-align: right;}
.in-left {text-align: left;}



/* Heading
---------------------------------------------------------- */
/*
h1, h2, h3, h4, h5 {
	margin-bottom: 2.8rem;
}

h1 {
	line-height: 1.25;
}

h2 {
	line-height: 1.35;
}
*/



/* Article
---------------------------------------------------------- */
.article h1, .article h2, .article h3, .article h4, .article h5 {
	margin-top: 7.2rem;
}

.article h1 + h2, .article h2 + h3, .article h3 + h4, .article h4 + h4 {
	margin-top: 2.8rem;
}

.article p {
	margin-bottom: 2.8rem;
}

.article p:last-child {
	margin-bottom: 0;
}



/* List-Style
---------------------------------------------------------- */
.disc li, .circle li , .decimal li, [class^="upper-"] li, [class^="lower-"] li {
	line-height: 1.8;
}

.disc > li, .circle > li {
	list-style-type: disc;
	padding-left: 2.2rem;
	text-indent: -2.2rem;
}

.circle > li {list-style-type: circle;}



.decimal, [class^="upper-"], [class^="lower-"] {
	text-indent: 0;
}

.decimal > li:before, .upper-alpha > li:before, .lower-alpha > li:before, .upper-roman > li:before, .lower-roman > li:before {
	display: table-cell;
	padding-right: .6rem;
	text-align: center;
}



.decimal {
	counter-reset: cnt-decimal;
}

.decimal > li {
	counter-increment: cnt-decimal;
	display: table;
}

.decimal > li:before {
	content: counter(cnt-decimal, decimal) ".";
}



.upper-alpha {
	counter-reset: cnt-upper-alpha;
}

.upper-alpha > li {
	counter-increment: cnt-upper-alpha;
	display: table;
}

.upper-alpha > li:before {
	content: counter(cnt-upper-alpha, upper-alpha) ".";
}



.lower-alpha {
	counter-reset: cnt-lower-alpha;
}

.lower-alpha > li {
	counter-increment: cnt-lower-alpha;
	display: table;
}

.lower-alpha > li:before {
	content: counter(cnt-lower-alpha, lower-alpha) ".";
}



.upper-roman {
	counter-reset: cnt-upper-roman;
}

.upper-roman > li {
	counter-increment: cnt-upper-roman;
	display: table;
}

.upper-roman > li:before {
	content: counter(cnt-upper-roman, upper-roman) ".";
}



.lower-roman {
	counter-reset: cnt-lower-roman;
}

.lower-roman > li {
	counter-increment: cnt-lower-roman;
	display: table;
}

.lower-roman > li:before {
	content: counter(cnt-lower-roman, lower-roman) ".";
}



/* Media list
---------------------------------------------------------- */
[class^=media-list] {
	display: table;
	width: 100%;
}

[class^=media-list] + [class^=media-list] {
	margin-top: 2.4rem;
}

[class^=media-list] > div {
	display: table-cell;
	vertical-align: middle;
}

.media-list-l > div:first-child, .media-list-r > div:last-child {
	vertical-align: top;
}

.media-list-l > div:last-child, .media-list-r > div:first-child {
	box-sizing: border-box;
	width: 100%;
	padding-left: 2.5%;
}

.media-list-r > div:first-child {
	padding: 0 2.5% 0 0;
}



/* Dl
---------------------------------------------------------- */
dl dt:nth-child(n+2) {
	margin-top: 2.8rem;
}

dl dd {
	margin: .6rem 0 0 1.7rem;
}

dd + dd {
	margin-top: 2.8rem;
}



/* Table
---------------------------------------------------------- */
table {
	width: 100%;
	border-collapse: collapse;
}

tr:first-child th {
	border-bottom: 2px solid #ccc;
}

th, td {
	padding: 2% 2.5%;
	border: 1px solid #ccc;
	text-align: left;
	vertical-align: top;
}



.table-horizontal th, .table-horizontal td {
	padding: 2% 1.25%;
}

.table-horizontal td {
	border-width: 0;
	border-top: 1px solid #ccc;
}

.table-horizontal tr:first-child th {
	border-width: 0 0 2px;
}

.table-horizontal th:first-child, .table-horizontal td:first-child,
.table-vertical th:first-child, .table-vertical td:first-child {
	padding-left: 0;
}

.table-horizontal th:last-child, .table-horizontal td:last-child,
.table-vertical th:last-child, .table-vertical td:last-child {
	padding-right: 0;
}



.table-vertical tr th, .table-vertical td {
	border: 0;
	border-left: 1px solid #ccc;
}

.table-vertical th:first-child, .table-vertical td:first-child {
	border: 0;
}



/* Flex
---------------------------------------------------------- */
[class*="flex-"] {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}



.flex-12 .col-1 {width: 5.58333333333%;}
.flex-12 .col-2 {width: 14.1666666667%;}
.flex-12 .col-3 {width: 22.75%;}
.flex-12 .col-4 {width: 31.3333333333%;}
.flex-12 .col-5 {width: 39.9166666667%;}
.flex-12 .col-6 {width: 48.5%;}
.flex-12 .col-7 {width: 57.0833333333%;}
.flex-12 .col-8 {width: 65.6666666667%;}
.flex-12 .col-9 {width: 74.25%;}
.flex-12 .col-10 {width: 82.8333333333%;}
.flex-12 .col-11 {width: 91.4166666667%;}

.flex-24 .col-1 {width: 1.29166666667%;}
.flex-24 .col-2 {width: 5.58333333333%;}
.flex-24 .col-3 {width: 9.875%;}
.flex-24 .col-4 {width: 14.1666666667%;}
.flex-24 .col-5 {width: 18.4583333333%;}
.flex-24 .col-6 {width: 22.75%;}
.flex-24 .col-7 {width: 27.0416666667%;}
.flex-24 .col-8 {width: 31.3333333333%;}
.flex-24 .col-9 {width: 35.625%;}
.flex-24 .col-10 {width: 39.9166666667%;}
.flex-24 .col-11 {width: 44.2083333333%;}
.flex-24 .col-12 {width: 48.5%;}
.flex-24 .col-13 {width: 52.7916666667%;}
.flex-24 .col-14 {width: 57.0833333333%;}
.flex-24 .col-15 {width: 61.375%;}
.flex-24 .col-16 {width: 65.6666666667%;}
.flex-24 .col-17 {width: 69.9583333333%;}
.flex-24 .col-18 {width: 74.25%;}
.flex-24 .col-19 {width: 78.5416666667%;}
.flex-24 .col-20 {width: 82.8333333333%;}
.flex-24 .col-21 {width: 87.125%;}
.flex-24 .col-22 {width: 91.4166666667%;}
.flex-24 .col-23 {width: 95.7083333333%;}

.flex-30 .col-1 {width: 0.433333333333%;}
.flex-30 .col-2 {width: 3.86666666667%;}
.flex-30 .col-3 {width: 7.3%;}
.flex-30 .col-4 {width: 10.7333333333%;}
.flex-30 .col-5 {width: 14.1666666667%;}
.flex-30 .col-6 {width: 17.6%;}
.flex-30 .col-7 {width: 21.0333333333%;}
.flex-30 .col-8 {width: 24.4666666667%;}
.flex-30 .col-9 {width: 27.9%;}
.flex-30 .col-10 {width: 31.3333333333%;}
.flex-30 .col-11 {width: 34.7666666667%;}
.flex-30 .col-12 {width: 38.2%;}
.flex-30 .col-13 {width: 41.6333333333%;}
.flex-30 .col-14 {width: 45.0666666667%;}
.flex-30 .col-15 {width: 48.5%;}
.flex-30 .col-16 {width: 51.9333333333%;}
.flex-30 .col-17 {width: 55.3666666667%;}
.flex-30 .col-18 {width: 58.8%;}
.flex-30 .col-19 {width: 62.2333333333%;}
.flex-30 .col-20 {width: 65.6666666667%;}
.flex-30 .col-21 {width: 69.1%;}
.flex-30 .col-22 {width: 72.5333333333%;}
.flex-30 .col-23 {width: 75.9666666667%;}
.flex-30 .col-24 {width: 79.4%;}
.flex-30 .col-25 {width: 82.8333333333%;}
.flex-30 .col-26 {width: 86.2666666667%;}
.flex-30 .col-27 {width: 89.7%;}
.flex-30 .col-28 {width: 93.1333333333%;}
.flex-30 .col-29 {width: 96.5666666667%;}



/* Grid
---------------------------------------------------------- */
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	grid-template-rows: auto;
	grid-gap: 15px;
}



/* Float
---------------------------------------------------------- */
[class*=float-] > * {
	box-sizing: border-box;
	width: 48.5%;
	margin-left: 3%;
	float: left;
}

.float-2 > *:nth-child(odd) {
	margin-left: 0;
	clear: left;
}

.float-3 > * {
	width: 31.4%;
	margin-left: 2.9%;
}

.float-3 > *:nth-child(3n+1) {
	margin-left: 0;
	clear: left;
}

.float-4 > * {
	width: 22.75%;
	margin-left: 3%;
}

.float-4 > *:nth-child(4n+1) {
	margin-left: 0;
	clear: left;
}

[class*=float-]:after, .cf:after {
	content:"";
	display:table;
	clear:both;
}



/* Form
---------------------------------------------------------- */
/*
	Input
*/
input, select, textarea {
	box-sizing: border-box;
	border: 1px solid #ccc;
	outline: none;
}

input[type=text], input[type=password] {
	width: 260px;
}

input[type=text], input[type=password], select, textarea {
	-ms-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	padding: .35rem .7rem;
	background: transparent;
	border-radius: 3px;
}

input[type=text], input[type=password], select {
	height: 36px;
}

input[type=text], input[type=password], textarea {
	background: #fafafa;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
	background: #fff;
	border-color: #90bdde;
}

textarea {
	width: 100%;
}



/*
	Select
*/
select {
	position: relative;
	z-index: 1;
	padding-right: 2.6rem;
	-ms-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	overflow: hidden;
}

select::-ms-expand {
  display: none;
}

.select {
	display: inline-block;
	height: 36px;
	background: #fff;
}

.select:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: relative;
	z-index: 0;
	margin: -5px 10px 0 auto;
	top: -16px;
	border: 4px solid transparent;
	border-top: 6px solid #666;
	border-radius: 1px;
	pointer-events: none;
}

/*
	Checkbox
*/
.checkbox input, .radio input {
	display: none;
}

label.checkbox, label.radio {
	display: block;
	position: relative;
	padding-left: 23px;
}

label.checkbox .checkbox:before {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 4px;
	left: 0;
	border: 1px solid #ccc;
	border-radius: 2px;
}

label.checkbox input:checked + .checkbox:before {
	border-color: #2e8ae5;
	background: #2e8ae5;
}

label.checkbox input:checked + .checkbox:after {
	content: "";
	display: inline-block;
	width: 7px;
	height: 4px;
	position: absolute;
	top: 8px;
	left: 4px;
	border: 0 solid #fff;
	border-width: 0 0 2px 2px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


/*
	Radio
*/
label.radio .radio:before {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 4px;
	left: 0;
	border: 1px solid #ccc;
	border-radius: 50%;
}

label.radio input:checked + .radio:before {
	border-color: #2e8ae5;
	background: #2e8ae5;
}

label.radio input:checked + .radio:after {
	content: "";
	display: inline-block;
	width: 5px;
	height: 5px;
	position: absolute;
	top: 10px;
	left: 6px;
	background: #fff;
	border-radius: 50%;
}


/*
	Button
*/
button, submit,
.pagination a, .btn {
	display: inline-block;
	background: #508ab3;
	border-radius: 3px;
	padding: 5px 11px;
	outline: none;
	box-shadow: none;
	border: 0;
	color: #fff;
	transition: opacity .35s;
}

button, submit {
	cursor: pointer;
}

.pagination .stay, .btn.stay {
	padding: 3px 9px;
	border: 2px solid #508ab3;
	background: #fff;
	color: #5e98d1;
}

button:hover, submit:hover, a:hover {
	opacity: .6;
}



/* Pagination #5e98d1
---------------------------------------------------------- */
.pagination {
	text-align: center;
}

.pagination li {
	display: inline-block;
	
}

.pagination li a {
	background: #f0f0f0;
	color: #5e98d1;
}



/* Margin
---------------------------------------------------------- */
.mt-02 {margin-top: 2px !important;}
.mt-04 {margin-top: 4px !important;}
.mt-05 {margin-top: 5px !important;}
.mt-06 {margin-top: 6px !important;}
.mt-08 {margin-top: 8px !important;}
.mt-10 {margin-top: 10px !important;}
.mt-12 {margin-top: 12px !important;}
.mt-14 {margin-top: 14px !important;}
.mt-15 {margin-top: 15px !important;}
.mt-16 {margin-top: 16px !important;}
.mt-18 {margin-top: 18px !important;}
.mt-20 {margin-top: 20px !important;}
.mt-22 {margin-top: 22px !important;}
.mt-24 {margin-top: 24px !important;}
.mt-25 {margin-top: 25px !important;}
.mt-26 {margin-top: 26px !important;}
.mt-28 {margin-top: 28px !important;}
.mt-30 {margin-top: 30px !important;}
.mt-32 {margin-top: 32px !important;}
.mt-34 {margin-top: 34px !important;}
.mt-35 {margin-top: 35px !important;}
.mt-36 {margin-top: 36px !important;}
.mt-38 {margin-top: 38px !important;}
.mt-40 {margin-top: 40px !important;}
.mt-42 {margin-top: 42px !important;}
.mt-44 {margin-top: 44px !important;}
.mt-45 {margin-top: 45px !important;}
.mt-46 {margin-top: 46px !important;}
.mt-48 {margin-top: 48px !important;}
.mt-50 {margin-top: 50px !important;}
.mt-52 {margin-top: 52px !important;}
.mt-54 {margin-top: 54px !important;}
.mt-55 {margin-top: 55px !important;}
.mt-56 {margin-top: 56px !important;}
.mt-58 {margin-top: 58px !important;}
.mt-60 {margin-top: 60px !important;}
.mt-62 {margin-top: 62px !important;}
.mt-64 {margin-top: 64px !important;}
.mt-65 {margin-top: 65px !important;}
.mt-66 {margin-top: 66px !important;}
.mt-68 {margin-top: 68px !important;}
.mt-70 {margin-top: 70px !important;}
.mt-80 {margin-top: 80px !important;}
.mt-90 {margin-top: 90px !important;}
.mt-100 {margin-top: 100px !important;}
.mt-110 {margin-top: 110px !important;}
.mt-120 {margin-top: 120px !important;}
.mt-130 {margin-top: 130px !important;}
.mt-140 {margin-top: 140px !important;}
.mt-150 {margin-top: 150px !important;}
.mt-160 {margin-top: 160px !important;}
.mt-170 {margin-top: 170px !important;}
.mt-180 {margin-top: 180px !important;}
.mt-190 {margin-top: 190px !important;}
.mt-200 {margin-top: 200px !important;}

.mb-02 {margin-bottom: 2px !important;}
.mb-04 {margin-bottom: 4px !important;}
.mb-05 {margin-bottom: 5px !important;}
.mb-06 {margin-bottom: 6px !important;}
.mb-08 {margin-bottom: 8px !important;}
.mb-10 {margin-bottom: 10px !important;}
.mb-12 {margin-bottom: 12px !important;}
.mb-14 {margin-bottom: 14px !important;}
.mb-15 {margin-bottom: 15px !important;}
.mb-16 {margin-bottom: 16px !important;}
.mb-18 {margin-bottom: 18px !important;}
.mb-20 {margin-bottom: 20px !important;}
.mb-22 {margin-bottom: 22px !important;}
.mb-24 {margin-bottom: 24px !important;}
.mb-25 {margin-bottom: 25px !important;}
.mb-26 {margin-bottom: 26px !important;}
.mb-28 {margin-bottom: 28px !important;}
.mb-30 {margin-bottom: 30px !important;}
.mb-32 {margin-bottom: 32px !important;}
.mb-34 {margin-bottom: 34px !important;}
.mb-35 {margin-bottom: 35px !important;}
.mb-36 {margin-bottom: 36px !important;}
.mb-38 {margin-bottom: 38px !important;}
.mb-40 {margin-bottom: 40px !important;}
.mb-42 {margin-bottom: 42px !important;}
.mb-44 {margin-bottom: 44px !important;}
.mb-45 {margin-bottom: 45px !important;}
.mb-46 {margin-bottom: 46px !important;}
.mb-48 {margin-bottom: 48px !important;}
.mb-50 {margin-bottom: 50px !important;}
.mb-52 {margin-bottom: 52px !important;}
.mb-54 {margin-bottom: 54px !important;}
.mb-55 {margin-bottom: 55px !important;}
.mb-56 {margin-bottom: 56px !important;}
.mb-58 {margin-bottom: 58px !important;}
.mb-60 {margin-bottom: 60px !important;}
.mb-62 {margin-bottom: 62px !important;}
.mb-64 {margin-bottom: 64px !important;}
.mb-65 {margin-bottom: 65px !important;}
.mb-66 {margin-bottom: 66px !important;}
.mb-68 {margin-bottom: 68px !important;}
.mb-70 {margin-bottom: 70px !important;}
.mb-80 {margin-bottom: 80px !important;}
.mb-90 {margin-bottom: 90px !important;}
.mb-100 {margin-bottom: 100px !important;}
.mb-110 {margin-bottom: 110px !important;}
.mb-120 {margin-bottom: 120px !important;}
.mb-130 {margin-bottom: 130px !important;}
.mb-140 {margin-bottom: 140px !important;}
.mb-150 {margin-bottom: 150px !important;}
.mb-160 {margin-bottom: 160px !important;}
.mb-170 {margin-bottom: 170px !important;}
.mb-180 {margin-bottom: 180px !important;}
.mb-190 {margin-bottom: 190px !important;}
.mb-200 {margin-bottom: 200px !important;}

.mb-none {margin-bottom: 0 !important;}














