





/* Font
------------------------------------ */
.f-hind,
.heading span:last-child {
	font-family: 'Hind', sans-serif;
}

.f-78,
.heading span:last-child {
	font-size: 8rem;
}

.ls-050,
.heading span:last-child {
	letter-spacing: .5rem;
}


.clr-ini,
#gnav a {color: #333;}

.clr-theme,
.heading span:first-child {
	color: #00A3FF;
}

.clr-light-gray,
.heading span:last-child {
	color: #EBEBEB;
}


/* Common
------------------------------------ */
::selection {
	background: #333;
	color: #fff;
}

.inner {
	max-width: 980px;
	margin: 0 auto;
	padding: 0 10px;
}

.heading {
	display: flex;
	flex-direction: column-reverse;
	line-height: 1;
}

.heading span {
	display: block;
}

.heading span:first-child {
	margin: -4px 0 0 5px;
	font-weight: bold;
}



/* Header
------------------------------------ */
#gheader {
	width: 100%;
	background: rgba(255,255,255,.8);
}

#gheader > .inner {
	height: 76px;
	align-items: center;
}

#gnav li {
	display: inline;
	position: relative;
}

#gnav li:nth-child(n+2) {
	margin-left: 5.5% 
}

#gnav li:after {
	content: "";
	display: none;
	width: 24px;
	height: 2px;
	position: absolute;
	left: 50%;
	bottom: -12px;
	margin-left: -12px;
	background: #00A3FF;
}

.news #gnav li:nth-child(1):after,
.case #gnav li:nth-child(2):after,
.seminar #gnav li:nth-child(3):after,
.documents #gnav li:nth-child(4):after,
.contact #gnav li:nth-child(5):after {
	display: block;
}

#gnav a {
	text-decoration: none;
}


/* Introduce
------------------------------------ */
.introduce h1 {
	margin-bottom: 54px;
}

.introduce ul {
	padding: 0 1%;
}

.introduce li {
	margin: 15px 1.25%;
}







/*  参考 */
.btn-cv {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	width: 260px;
	height: 60px;
	margin: 0 auto;
	padding: 0 0 0 70px;
	position: relative;
	text-align: center;
	line-height: 1;
	background: #DA0015;
	border-radius: 100px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	transition: all 0.4s ease-out;
}

.btn-cv:hover {
	opacity: 1;
	color: rgba(255,255,255,.9);
	background: #8c000e;
}
.logo {
	padding-left: 6px;
	opacity: 0;
	animation: logo .3s ease-out .5s forwards;
}

@keyframes logo {
	0% {
		opacity: 0;
	}
	100% {
		padding-left: 0;
		opacity: 1;
	}
}

.line-01, .line-02, .line-03 {
	display: block;
	opacity: 0;
}

.line-01 {
	animation: line-01 .3s ease-out .7s forwards;
}

.line-02 {
	animation: line-02 .3s ease-out .85s forwards;
}


@keyframes line-01 {
	0% {
		transform: translateY(10px);
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes line-02 {
	0% {
		transform: translateY(10px);
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/* 参考 */


@media screen and (min-width: 768px) {
	
}


/* slick */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* slick theme*/

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

/* Custom */
.slider li {
    outline: none;
}

.slider img {
    width: 60px;
    height: 255px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
	.slider img {
	    width: 120px;
	    height: 510px;
	}
}
