.footer__inner {
  width: vw(325);
  margin: 0 auto;
  padding: vw(39) 0 vw(20);

  @include mediaQuery(pc) {
    width: 355px;
    padding: 40px 0 18px;
  }
}

.footer__list--01 {
  display: flex;
  justify-content: space-between;
}

.footer__list--01__item {
  &:nth-of-type(1) {
    width: vw(146);

    @include mediaQuery(pc) {
      width: 160px;
    }
  }

  &:nth-of-type(2) {
    width: vw(142);

    @include mediaQuery(pc) {
      width: 155px;
    }
  }
}

.footer__list--02 {
  display: flex;
  justify-content: center;
  margin-top: vw(40);

  @include mediaQuery(pc) {
    margin-top: 39px;
  }
}

.footer__list--02__item {
  padding: 0 vw(16);

  @include mediaQuery(pc) {
    padding: 0 16px;
  }

  &:nth-of-type(2) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: vw(19);
      width: vw(1);
      background-color: #999;

      @include mediaQuery(pc) {
        height: 19px;
        width: 1px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: vw(19);
      width: vw(1);
      background-color: #999;

      @include mediaQuery(pc) {
        height: 19px;
        width: 1px;
      }
    }
  }
}

.footer__link {
  display: block;
}

.footer__link__txt {
  font-size: vw(12);
  line-height: 1.6;
  letter-spacing: 0.04em;

  @include mediaQuery(pc) {
    font-size: 12px;
  }
}

.footer__txt {
  font-size: vw(10);
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.04em;
  margin-top: vw(32);

  @include mediaQuery(pc) {
    font-size: 10px;
    margin-top: 32px;
  }
}